doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/divTable.css', type='text/css')
  body
    block content
